.brandContainer {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  // min-width: 320px;
  min-width: 1920px;
  overflow-x: hidden;
  min-height: 100vh;
}

.brandPage {
  font-family: Proba Pro;
}

.brandMainTitle {
  font-family: Proba Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 45px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  color: #544D46;

}

.brandTitle {
  font-family: Proba Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */


  color: #544D46;

}

.brandBorder-top {
  padding-top: 16px;
  border-top: 2px solid #544D46;
}

.brandBorder-bottom {
  padding-bottom: 16px;
  border-bottom: 2px solid #544D46;
}

.brandText {
  font-family: Proba Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #544D46;
}

.brandPage-block {
  display: flex;
  margin-bottom: 200px;
  .brandPage-col:first-child {
    margin-right: 32px;
    max-width: 687px;
    .brandTitle {
      margin-bottom: 64px;
    }
  }
  .brandPage-col:last-child {
    .brandTitle {
      margin-top: 64px;
    }
  }
}