@media (max-width: 1200px) {
  .brandInfoTop {
    &__col {
      &:first-child {
        margin-right: 0;
      }
      &:last-child {
        display: none;
      }
    }
  }
  .brandAbout {
    &__inner {
      flex-wrap: wrap;
    }
    &__col:first-child {
      margin: 0 auto;
      img {
        height: auto;
      }
    }
    &__col:last-child {
      margin: 0 auto;
      max-width: 100%;
      max-width: 687px;
      display: flex;
      flex-direction: column;

      img {
        height: auto;
      }
    }
    .brandText {
      margin: 32px 0;
      order: -1;
    }
  }
  .brandReasonAbout {
    &__inner {
      padding: 0;
    }
  }
}
@media (max-width: 935px) {
  .brandInfoHistory {
    &__head {
      position: static;
      margin-bottom: 32px;
    }
    &__images {
      img:first-child {
        display: none;
      }
    }
    &__circle {
      margin-left: 0;
    }
  }
  .brandReasonPeople {
    &__inner {
      display: block;
    }
    &__col:first-child {
      max-width: 100%;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__col:last-child {
      display: flex;
      flex-direction: column;
      width: 100%;
      .brandTitle {
        margin-bottom: 64px;
        order: -1;
      }
    }
  }
  .brandView {
    &__inner {
      display: block;
    }
    &__box:first-child {
      margin-bottom: 64px;
    }
    &__col {
      max-width: 100%;
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
  .brandViewModel {
    &__image {
      display: none;
    }
    &__col {
      width: 100%;
      img {
        order: -1;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 32px;
      }
    }
  }
  .brandGallery {
    .brandTitle {
      span:nth-child(2) {
        margin-left: 25px;
      }
      span:last-child {
        margin-left: 50px;
      }
    }
  }
}
@media (max-width: 768px) {
  .brandMainTitle {
    font-size: 38px;
  }
  .brandTitle {
    font-size: 32px;
  }
  .brandTop {
    &__inner {
      display: block;
    }
    &__text {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }
    .brandTop-videoimage {
      min-width: 0;
    }
  }
  .brandInfoAbout {
    &__inner {
      display: block;
    }
    &__image {
      margin-right: 0;
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      img {
        max-width: 400px;
      }
    }
    &__box {
      width: auto;
    }
  }

  .brandAboutTestimonials {
    &__text {
      display: block;

      .brandText,
      .brandText:first-child {
        margin-bottom: 32px;
        max-width: 100%;
      }
    }
  }
  .brandReasonAbout{
    &__inner {
      display: block;
    }
    .brandText {
      &:first-child {
        border-top: 0;
        width: 100%;
        margin-bottom: 32px;
      }
      &:last-child {
        width: 100%;
      }
    }
    &__image {
      width: 100%;
      margin-bottom: 32px;
      img {
        width: 100%;
      }
    }
  }
  .brandViewRule {
    
    &__image.large {
      display: none;
    }
  }
}

@media (max-width: 540px) {
  .brandGallery {
    .brandTitle {
      span:nth-child(2) {
        margin-left: 0;
        margin-top: 10px;
      }
      span:last-child {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
  .brandView {
      &__text {
        display: block;
        .brandText:first-child {
          width: 100%;
          margin-bottom: 32px;
        }
        .brandText:last-child {
          width: 100%;
        }
      }
    }
  .brandViewRule {
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__image.girl {
      order: -1;
    }
    .brandText.second {
      order: 1;
    }
  }
    
  .brandMainTitle {
    font-size: 30px!important;
    line-height: 32px!important;
  }
  
  .brandTitle {
    font-size: 28px!important;
    line-height: 28px!important;
  }
  .brandText {
    line-height: 20px;
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .brandTop-videoicon {
    width: 50px;
  }
}
