@import "fonts";
@import "vars";
@import "mixins";
@import "global";
@import "libs";

.brandTop {
  margin-top: 50px;
  margin-bottom: 200px;
  .brandMainTitle {
    padding-bottom: 21px;
    border-bottom: 2px solid #544d46;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 480px;
    margin-right: 32px;
  }
  &__video {
    position: relative;

    .brandTop-videoimage {
      width: 100%;
      min-width: 460px;
    }
    .brandTop-videoicon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.brandInfoTop {
  margin-bottom: 200px;
  &__inner {
    display: flex;
  }
  &__col {
    max-width: 584px;
    width: 100%;
    &:first-child {
      margin-right: 32px;
    }
    img {
      width: 100%;
    }
    &:last-child {
      img {
        height: 100%;
      }
    }
  }
  .brandTitle {
    margin-bottom: 48px;
    &.second-title {
      margin-bottom: 64px;
    }
  }
}

.brandInfoAbout {
  padding: 56px 0;
  background-color: #e4ebef;
  margin-bottom: 200px;

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__image {
    margin-right: 32px;
    img {
      width: 100%;
    }
  }
  &__box {
    width: 379px;
    flex: none;
    .brandTitle {
      margin-bottom: 16px;
    }
    .brandText {
      max-width: 280px;
    }
  }
}

.brandInfoHistory {
  margin-bottom: 200px;
  &__inner {
    position: relative;
  }
  &__head {
    max-width: 380px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #544d46;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 32px;
  }
  &__images {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 32px;
    img:first-child {
      border-radius: 408px 408px 0px 0px;
      width: 480px;
    }
  }
}

.brandAbout {
  margin-bottom: 200px;
  &__inner {
    display: flex;
    
  }
  &__col:first-child {
    margin-right: 32px;
    max-width: 687px;
    .brandTitle {
      margin-bottom: 64px;
    }
    img {
      height: 693px;
    }
  }
  &__col:last-child {
    max-width: 687px;
    display: flex;
    flex-direction: column;
    .brandTitle {
      margin-top: 64px;
    }
    img {
      width: 100%;
      height: 797px;
      margin-bottom: 32px;
    }
  }
}

.brandAboutTestimonials {
  margin-bottom: 200px;
  .brandMainTitle.first-title {
    margin-bottom: 19px;
  }
  &__image {
    width: 100%;
    // height: 540px;
    margin-bottom: 48px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    column-gap: 40px;
    align-items: center;
    border-bottom: 2px solid #544D46;
    .brandMainTitle {
      max-width: 380px;
      margin-bottom: 10px;
      padding-bottom: 16px;
      width: 100%;
    }
    .brandText {
      max-width: 262px;
      padding-bottom: 16px;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    .brandText {
      max-width: 276px;
      width: 100%;
      font-size: 16px;
      &:first-child {
        max-width: 379px;
      }
    }
  }
}

.brandReason {
  position: relative;
  &-grad {
    position: absolute;
    width: 388px;
    height: 388px;
    filter: blur(250px);
    z-index: -1;
  }
  &-grad-1 {
    left: 111px;
    top: 111px;
    background: #eeffcb;
  }
  &-grad-2 {
    left: -105px;
    bottom: 0;
    background: #bce3ff;
  }
  &-grad-3 {
    bottom: 61px;
    right: -125px;
    background: #ffc692;
  }

  &__list {
    max-width: 790px;
    margin-left: auto;
    .brandTitle {
      margin-bottom: 64px;
    }
  }
}

.brandReasonPeople {
  margin-top: 200px;
}

.brandReasonAbout {
  margin-bottom: 200px;
  background-color: #d0debb;
  padding: 56px 0;
  .brandTitle {
    max-width: 892px;
    margin-bottom: 64px;
  }
  .brandText:first-child {
    margin-top: auto;
  }
  &__inner {
    padding: 0 103px;
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
  }
}

.brandView {
  margin-bottom: 250px;
  &__inner {
    display: flex;
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 660px;
    max-width: 687px;
    margin-right: 33px;
  }
  &__box {
    .brandTitle {
      margin-bottom: 40px;
      line-height: 40px;
      font-size: 38px;
    }

    .brandText:first-child {
      width: 276px;
    }
    .brandText:last-child {
      width: 379px;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 100%;
  }
}

.brandViewRule {
  margin-bottom: 200px;
  .brandTitle {
    margin-bottom: 40px;
  }
  &__inner {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 380px 276px 481px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
  &__image.large {
    grid-row: 1 / 3;
  }
}

.brandViewModel {
  margin-bottom: 200px;
  .brandTitle {
    margin-bottom: 40px;
    max-width: 686px;
    margin-left: auto;
    font-size: 38px;
  }
  &__inner {
    display: flex;
    img {
      width: 584px;
      margin-right: 32px;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
    }
  }
}

.brandGallery {
  margin-bottom: 200px;
  .brandTitle {
    margin-bottom: 64px;
    span {
      display: block;
      &:nth-child(2) {
        margin-left: 100px;
      }
      &:last-child {
        margin-left: 300px;
      }
    }
  }
  &__inner {
    display: flex;
    column-gap: 31px;
    flex-wrap: wrap;
    img {
      margin-bottom: 28px;
    }
  }
}

@import "media";
